apiVersion: "apps/v1"
kind: development
metadata:
  name: medmoncharcy-development
spec:
  replicas: 2
  selector:
    matchLabels:
      app: "nginx"
template:
  metadata:
    labels:
      app: "nginx"
  spec:
    containers:
      - name: "nginx"
        image: "nginx:latest"
